PORT=4000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=catalogue_ci
DB_USER=root
DB_PASSWORD=

JWT_SECRET=changez_moi_par_une_longue_chaine_aleatoire
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173
